$color1: rgba(0, 0, 0, 0.8);
$color2: rgb(255, 255, 255);

body {
    background: linear-gradient( lightblue, transparent), linear-gradient( -45deg, green, transparent), linear-gradient( 45deg, white, transparent);
    background-blend-mode: multiply;
    font-family: 'Antic Slab', serif;
    color: $color2;
}

a {
    color: $color2;
}
section {
    margin: 20px;
    padding: 20px;
}

.container {
    background: $color1;
}
nav {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.nav {
    width: auto;
    padding: 0;
    background: black;
}

.gallery_container img {
    filter: grayscale(100%);
    max-width: 100%;
    height: auto;
    margin: 20px;
    &:hover {
        filter: grayscale(0%);
    }
}

#carouselExampleIndicators3 img {
    width: 100vw;
    height: auto;
}